.positionTop{
    display: block;
  text-align: center;
  margin-top: 8px; /* Adjust the margin as needed */
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold;
<<<<<<< HEAD

=======
 
>>>>>>> aa2ce9168112359b54e43831b0aa84f316c69b74
}
.stepTitle{
    .step-title {
        display: block;
        text-align: center;
        margin-top: 8px; /* Adjust the margin as needed */
        font-size: 16px; /* Adjust the font size as needed */
        font-weight: bold;
        /* Add other styles as needed */
      }
<<<<<<< HEAD

=======
      
>>>>>>> aa2ce9168112359b54e43831b0aa84f316c69b74
}
  